
### Examining racial discrimination in the US job market

#### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

#### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes.

#### Exercise
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Discuss statistical significance.

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet

****

In [2]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [10]:
data.describe()

C:\Users\bcroarkin\AppData\Local\Continuum\Anaconda2\lib\site-packages\numpy\lib\function_base.py:3403: RuntimeWarning: Invalid value encountered in median
  RuntimeWarning)

,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,occupbroad,workinschool,...,educreq,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind
count,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,...,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000,4870.000000
mean,3.618480,3.661396,7.842916,0.052772,0.411499,0.097125,0.448049,215.637782,3.481520,0.559548,...,0.106776,0.437166,0.072690,0.082957,0.030390,0.085010,0.213963,0.267762,0.154825,0.165092
std,0.714997,1.219126,5.044612,0.223601,0.492156,0.296159,0.497345,148.127551,2.038036,0.496492,...,0.308866,0.496083,0.259649,0.275854,0.171677,0.278932,0.410141,0.442847,0.361773,0.371308
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,3.000000,5.000000,0.000000,0.000000,0.000000,0.000000,27.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,4.000000,6.000000,0.000000,0.000000,0.000000,0.000000,267.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,4.000000,9.000000,0.000000,1.000000,0.000000,1.000000,313.000000,6.000000,1.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
max,4.000000,7.000000,44.000000,1.000000,1.000000,1.000000,1.000000,903.000000,6.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# 1 What test is appropriate for this problem? Does CLT apply?

Hypothesis test for comparing the two categories ('b' and 'w')

CLT applies. Two conditions for CLT are independence and sample size. 
    Independence - randomly assigned categories
    Sample Size/Skew - should be at least 1o successes and 10 failures

In [38]:
white = data[data.race=='w']
black = data[data.race=='b']

In [40]:
#Number of resumes per race:
white_resumes = len(white)
black_resumes = len(black)
print white_resumes, black_resumes

2435 2435

In [31]:
#Number of calls per race:
white_calls=sum(white.call)
black_calls=sum(black.call)
print white_calls, black_calls

235.0 157.0

In [35]:
#prop of calls per race and overall
black_prop = black_calls/ len(black)
white_prop = white_calls/ len(white)
all_prop = sum(data.call)/len(data)

print black_prop, white_prop, all_prop

0.064476386037 0.0965092402464 0.0804928131417

In [37]:
# Sample size n should be large enough so that np≥10 and nq≥10

np_w = w_cvs*ppool
n1p_w=w_cvs*(1-ppool)

# and for n2p_pool >=10, n2(1-p_pool) >=10:
np_b=b_cvs*ppool
n1p_b=b_cvs*(1-ppool)

print np_w,n1p_w, np_b,n1p_b

194.8 2240.2 194.8 2240.2

In [43]:
# Sample size n should be large enough so that np≥10 and nq≥10

np_w = white_resumes * all_prop
n1p_w= white_resumes * (1-all_prop)

# and for n2p_pool >=10, n2(1-p_pool) >=10:
np_b= black_resumes * all_prop
n1p_b= black_resumes * (1-all_prop)

print np_w,n1p_w, np_b,n1p_b

196.0 2239.0 196.0 2239.0

All these values are above 10, so they meet the conditions.

# 2 What are the null and alternate hypotheses?

Null hypothesis is that the callback rate is the same for both groups.
Alternate hypothesis is that the callback rate is different for the two groups

# 3 Compute margin of error, confidence interval, and p-value.

In [15]:
# To calculate SE we use the null hypothesis as true. 
# It means that mean = 0, and SE uses p_pool as population proportion:

SE_diff=round((((ppool*(1-ppool))/b_cvs)+((ppool*(1-ppool))/w_cvs))**0.5,2)
SE_diff

0.01

In [16]:
#z-value
Zvalue= round((w_sample_p - b_sample_p)/SE_diff,2)
#print Zvalue

# ME 
ME=round(Zvalue*SE_diff,2)
print ME

0.03

In [22]:
#  CI = (estimate point + ME, estimate point - ME)

highconf = (w_sample_p-b_sample_p)+ME
lowconf = (w_sample_p-b_sample_p)-ME

print (Up_CI,Down_CI)

(0.062032854209445584, 0.0020328542094455865)

In [46]:
#p score 3.9 x 10^-5

stats.ttest_ind(white.call, black.call)

Ttest_indResult(statistic=4.1147052908617514, pvalue=3.9408021031288859e-05)

# 4 Discuss statistical significance.

Since p-value is < .05 we can reject the null hypothesis, which means that there are differences on how resumes are looked at between races